<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage" uri="datacollector://dotnet/code-cover/coverlet/1.0.0">
        <Configuration>
          <Format> cobertura</Format>
          <Include>
            <Filter>src/**/*.cs</Filter>
          </Include>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>