<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="lidarr-taglib" value="https://pkgs.dev.azure.com/Lidarr/Lidarr/_packaging/Taglib/nuget/v3/index.json" />
  </packageSources>

  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="Microsoft.*" />
      <package pattern="System.*" />
      <package pattern="Newtonsoft.*" />
      <package pattern="NLog*" />
      <package pattern="FluentValidation*" />
      <package pattern="xunit*" />
      <package pattern="Moq*" />
      <package pattern="Castle.*" />
      <package pattern="dotnet-reportgenerator-globaltool" />
      <package pattern="dotnet-stryker" />
      <package pattern="*" />
    </packageSource>
    <packageSource key="lidarr-taglib">
      <package pattern="TagLibSharp-Lidarr*" />
      <package pattern="TagLibSharp*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
